<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Check your fav movies in - <span class="title">MOVIE-BUXX</span> </h1>
  <h3>Add movies to the list and click on add</h3>

  <div>
    <form action="" method="POST">
   
      <input class="input" type="text" placeholder="FILM" name="film" id="film">
      <input class="input" type="text" placeholder="GENRE" name="genre" id="genre">
      <input class="input" type="text" placeholder="LEAD-STUDIO" name="leadstudio" id="leadstudio">
      <input class="input" type="text" placeholder="PROFITABILITY" name="profitability" id="profitability">
      <input class="input" type="text" placeholder="ROTTEN-TOMATOES" name="rottentomatoes" id="rottentomatoes">
      <input class="input" type="text" placeholder="WORLD-WISEGROSS" name="worldwisegross" id="worldwisegross">
      <input class="input" type="submit" value="Add" name="" id="">
    </form>
  </div>
  <table>
    <tr class="toprow">
      <td>ID</td>
      <td>FILM</td>
      <td>GENRE</td>
      <td>LEAD-STUDIO</td>
      <td>PROFITABILITY</td>
      <td>ROTTEN-TOMATOES</td>
      <td>WORLD-WISEGROSS</td>
    </tr>
  </table>
  </body>
</html>
 
