<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
</head>

<body>
    <h2>Registration Page</h2><br>
    <div class="registration">
        <form id="registration" method="get" action="registration.php">
            <label><b>User Name     
        </b>    
        </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label><b>Password     
        </b>    
        </label>

            <div class="center">
                <img src="https://www.seminarsonly.com/Labels/GiFi_clip_image002.jpg" width="200" height="200">
            </div>
            <br><br>
            <label><b>Confirm Password
                </b>
            </label>

            <div class="center">
                <img src="https://www.seminarsonly.com/Labels/GiFi_clip_image002.jpg" width="200" height="200">
            </div>


            <br><br>
            <input type="submit" name="reg" routerLink="/Registration" id="reg" value="Register">
        </form>
    </div>

</body>

</html>